<body>
  <mat-card>
    <mat-card-header>Cadastro de Espécie</mat-card-header>
    <mat-card-content>

      <form [formGroup]="formGroup" class="row">
        <mat-form-field class="col-6"  appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput  formControlName="name" placeholder="Name">
        </mat-form-field>
      </form>

    </mat-card-content>
    <mat-card-footer>
      <!-- <button  (click)="" mat-button color="primary">Salvar</button> -->

    </mat-card-footer>
  </mat-card>
</body>
